In [3]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
n_sample=100
n_features=10

In [5]:
x , y = datasets.make_regression(n_sample,n_features,noise=1, bias=200)

In [6]:
x.shape , y.shape

((100, 10), (100,))

In [7]:
df_x = pd.DataFrame(x)

In [12]:
df_y = pd.DataFrame(y)
df_y.columns=['Lable']

In [13]:
df = pd.concat((df_x , df_y), axis=1)

In [14]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,Lable
0,0.118053,0.145413,-1.111999,0.819098,-0.015871,-0.627056,-0.450018,-0.408509,0.261491,-0.324493,112.641253
1,1.072555,0.444073,1.457508,-1.344620,0.289707,-0.128173,0.690043,0.215823,0.044241,1.618646,415.026966
2,-1.294668,-0.223934,-0.495880,1.248335,1.193172,0.125406,0.006692,-0.208056,1.040518,-0.910642,163.836636
3,1.821909,0.263893,1.067561,1.219094,-0.227236,1.198749,-0.751738,-0.206324,-0.873565,0.066145,468.268896
4,0.707660,1.394393,-2.550142,0.119070,0.241256,0.429234,0.439920,-0.604660,-1.534406,0.466472,233.591141
5,-0.137397,2.049937,-0.926080,-0.399796,0.650271,2.573911,0.183675,-0.348690,0.031723,2.035855,572.748952
6,-0.145926,1.227769,0.090928,-1.086645,0.809774,-0.764246,0.573643,-0.399039,0.107598,1.993383,246.732782
7,-0.958162,0.688076,-1.035021,-1.675393,-0.820124,-0.022306,-0.306537,0.763222,-0.139625,0.773842,102.207184
8,-0.169326,1.400216,-0.322264,-1.157507,0.796641,-1.353759,0.241700,-1.085778,-0.742209,0.278220,63.322297
9,-1.531986,0.236587,-0.442622,0.159515,1.417338,1.069295,0.319769,-0.291627,0.069676,2.002945,234.697496

In [ ]:
df.to_csv('Regression_Sample')